In [3]:
import TECHNIC as QT
import pandas as pd

## Internal Data Loader

In [195]:
df_internal_raw = pd.read_excel('fake_internal.xlsx')
df_internal_raw.head()

,Date,Fixed_balance,Fixed_price,Redeemable_balance,Redeemable_price,VR_balance,VR_price
0,2018-01-31,1525.766256,0.054260,808.925168,0.018648,1022.483571,0.045600
1,2018-02-28,1540.515474,0.046348,835.771506,0.034777,1041.792249,0.023520
2,2018-03-31,1566.467979,0.026517,863.370334,0.017302,1065.030692,0.025023
3,2018-04-30,1563.129764,0.022823,896.188563,0.036981,1092.645841,0.013759
4,2018-05-31,1583.883081,0.045697,908.819056,0.032661,1111.475074,0.033131

In [196]:
ID_config = {
    'df': df_internal_raw,
    'start': '2018-01-15',
    'end': '2023-11-15',
    'freq': 'M'
}
IDLoader = QT.InternalDataLoader(**ID_config)
IDLoader.load()

In [203]:
IDLoader.internal_data.tail()

,Date,Fixed_balance,Fixed_price,Redeemable_balance,Redeemable_price,VR_balance,VR_price,Q1,Q2,Q3,...,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12
2023-07-31,2023-07-31,2489.052561,0.033147,2518.590119,0.053016,2289.250500,0.035404,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2023-08-31,2023-08-31,2509.747182,0.046901,2582.117434,0.050611,2314.268164,0.011812,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2023-09-30,2023-09-30,2516.131131,0.050095,2612.826339,0.033226,2336.076344,0.024985,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2023-10-31,2023-10-31,2532.723351,0.051663,2649.181996,0.039805,2352.850746,0.035034,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2023-11-30,2023-11-30,2556.873350,0.051585,2683.722013,0.026095,2374.657724,0.030125,0,0,0,...,0,0,0,0,0,0,0,0,1,0

## Mev Loader

In [199]:
MEV_config = {
    'model_mev_source': {'fake_scens.xlsx': 'base'},
    'scen_mevs_source': {
        'fake_scens.xlsx': {'base':'base', 'adv':'adv', 'sev':'sev'}
    } 
}
MEVLoader = QT.MEVLoader(**MEV_config)
MEVLoader.load()

In [200]:
MEVLoader.model_mev

nan           NGDP      PSR      PDI UNRATE   CPI
2000-03-31  100.16  10032.6  8047.46   3.64  3.08
2000-06-30   99.74  9996.18  8044.02   4.42  3.96
2000-09-30   99.77  9940.38  8035.14   4.82   9.3
2000-12-31   99.54  10063.8  7958.35   6.23  9.12
2001-03-31    99.8  9925.75  8018.19   5.85  7.18
...            ...      ...      ...    ...   ...
2029-12-31  105.11    10440  8241.36   6.99  5.95
2030-03-31  104.82  10487.6  8309.24   3.75  8.16
2030-06-30  104.71  10610.6  8355.29   4.15  4.67
2030-09-30  104.76  10546.7  8319.09   6.61  3.77
2030-12-31  105.02    10478  8285.93    6.6  5.48

[124 rows x 5 columns]

In [201]:
MEVLoader.scen_mevs['fake_scens']['base']

nan           NGDP      PSR      PDI UNRATE   CPI
2000-03-31  100.16  10032.6  8047.46   3.64  3.08
2000-06-30   99.74  9996.18  8044.02   4.42  3.96
2000-09-30   99.77  9940.38  8035.14   4.82   9.3
2000-12-31   99.54  10063.8  7958.35   6.23  9.12
2001-03-31    99.8  9925.75  8018.19   5.85  7.18
...            ...      ...      ...    ...   ...
2029-12-31  105.11    10440  8241.36   6.99  5.95
2030-03-31  104.82  10487.6  8309.24   3.75  8.16
2030-06-30  104.71  10610.6  8355.29   4.15  4.67
2030-09-30  104.76  10546.7  8319.09   6.61  3.77
2030-12-31  105.02    10478  8285.93    6.6  5.48

[124 rows x 5 columns]

In [202]:
MEVLoader.model_map

{'PSR': 'Personal Savings Rate (%)',
 'PDI': 'Personal Disposable Income (Billions)',
 'UNRATE': 'Unemployment Rate (%)',
 'CPI': 'Consumer Price Index'}

## Data Manager

In [205]:
dm_config = {
    'internal_loader': IDLoader,
    'mev_loader': MEVLoader,
    'in_sample_end': '2023-06-01'
}
dm = QT.DataManager(**dm_config)

In [207]:
dm.internal_in

,Date,Fixed_balance,Fixed_price,Redeemable_balance,Redeemable_price,VR_balance,VR_price,Q1,Q2,Q3,...,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12
2018-01-31,2018-01-31,1525.766256,0.054260,808.925168,0.018648,1022.483571,0.045600,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-02-28,2018-02-28,1540.515474,0.046348,835.771506,0.034777,1041.792249,0.023520,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-03-31,2018-03-31,1566.467979,0.026517,863.370334,0.017302,1065.030692,0.025023,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2018-04-30,2018-04-30,1563.129764,0.022823,896.188563,0.036981,1092.645841,0.013759,0,1,0,...,0,1,0,0,0,0,0,0,0,0
2018-05-31,2018-05-31,1583.883081,0.045697,908.819056,0.032661,1111.475074,0.033131,0,1,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-31,2023-01-31,2406.497172,0.058002,2365.768354,0.033182,2171.207724,0.029665,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-02-28,2023-02-28,2414.061046,0.058024,2401.306374,0.040102,2190.279429,0.028939,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-03-31,2023-03-31,2432.376193,0.042938,2412.529681,0.038373,2204.747754,0.016928,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2023-04-30,2023-04-30,2440.940224,0.045273,2428.151430,0.051046,2218.766721,0.027354,0,1,0,...,0,1,0,0,0,0,0,0,0,0
2023-05-31,2023-05-31,2466.789765,0.037938,2458.301783,0.016818,2242.829350,0.025940,0,1,0,...,0,0,1,0,0,0,0,0,0,0

## Model Building

In [208]:
cm_config = {
    'model_id': 'cm1',
    'target': 'VR_balance',
    'data_manager': dm,
    'model_cls': QT.OLS
}
cm1 = QT.CM(**cm_config)

In [210]:
mth_var = [f'M{i}' for i in range(2,13)]
indep_vars = [mth_var, 'VR_price', 'NGDP']
cm1.build(indep_vars)

ValueError: Data validation error: X contains NaNs: ['NGDP']